<div class="container__contact-page">
  <div class="container__title">
    <h1>Contatos</h1>
  </div>
  <div class="container__description">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis,
      nulla sequi maiores reiciendis rem ad voluptatem corporis explicabo quae
      ullam necessitatibus tenetur quos pariatur tempore molestias facere! Sint,
      sapiente libero.
    </p>
  </div>
  <div class="contacts-card">
    <div class="container__links-contact">
      <span>
        <img
          src="../../../assets/smartphone-svgrepo-com.svg"
          width="30px"
          height="30px"
          alt=""
        />
        <a href="#">(21) 99035-5347</a>
      </span>
      <span>
        <img
          src="../../../assets/email-svgrepo-com.svg"
          width="30px"
          height="30px"
          alt=""
        />
        <a href="mailto:renan2.peixoto@gmail.com">renan2.peixoto@gmail.com</a>
      </span>
    </div>
    <div class="container__links-contact">
      <span>
        <img
          src="../../../assets/linkedin-svgrepo-com.svg"
          width="30px"
          height="30px"
          alt=""
        />
        <a href="#">linkedn</a>
      </span>
      <span>
        <img
          src="../../../assets/github-color-svgrepo-com.svg"
          width="30px"
          height="30px"
          alt=""
        />
        <a href="#">GitHub</a>
      </span>
    </div>
  </div>
</div>
