<section class="container__skill-page">
  <div class="container__title">Skills</div>
  <div class="container__skills">
    <dl>
      <dt>JAVASCRIPT</dt>
      <dd>
        <img
          src="https://th.bing.com/th/id/OIP.DN7ToydkJZEdVaJVK_NhvwHaHa?pid=ImgDet&rs=1"
          alt=""
          width="80px"
        />
      </dd>
      <dd>
        <progress class="progress-bar" value="80" max="100">80%</progress>
      </dd>
    </dl>
    <dl>
      <dt>JAVA</dt>
      <dd>
        <img
          src="https://th.bing.com/th/id/OIP.qUsonnBsHnioyl78SFCZfQHaGa?pid=ImgDet&rs=1"
          alt=""
          width="80px"
          height="80px"
        />
      </dd>
      <dd>
        <progress class="progress-bar" value="70" max="100">70%</progress>
      </dd>
    </dl>
    <dl>
      <dt>Angular</dt>
      <dd>
        <img
          src="https://th.bing.com/th/id/OIP.phwoFGJzav3WTPP_9IIqPgHaH1?pid=ImgDet&rs=1"
          alt=""
          width="80px"
        />
      </dd>
      <dd>
        <progress class="progress-bar" value="30" max="100">30%</progress>
      </dd>
    </dl>
  </div>
</section>
