<section class="container__skill-page">
  <div class="container__title">Skills</div>
  <div class="container__skills">
    <ul>
      <li>
        <img
          src="https://th.bing.com/th/id/OIP.qUsonnBsHnioyl78SFCZfQHaGa?pid=ImgDet&rs=1"
          alt=""
          width="80px"
          height="80px"
        /><span>JAVA</span>
      </li>
    </ul>
    <ul>
      <li>
        <img
          src="https://th.bing.com/th/id/OIP.DN7ToydkJZEdVaJVK_NhvwHaHa?pid=ImgDet&rs=1"
          alt=""
          width="80px"
        /><span>JAVASCRIPT</span>
      </li>
    </ul>
    <ul>
      <li>
        <img
          src="https://th.bing.com/th/id/OIP.phwoFGJzav3WTPP_9IIqPgHaH1?pid=ImgDet&rs=1"
          alt=""
          width="80px"
        /><span>ANGULAR</span>
      </li>
    </ul>
  </div>
</section>
