<div class="container__home-page">
  <app-card-detail
    class="container__card-detail"
    description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum velit eligendi dignissimos nulla quos fuga perferendis corporis sed, soluta corrupti labore asperiores placeat consectetur sint veniam maiores dolore minima totam!"
    linkResume="https://drive.google.com/file/d/1xxeWdcwgh3ElBXFK5stnb70pPYNj-LIf/view?usp=sharing"
    [photo]="{
      src: '../../../assets/card-detail img.png',
      alt: 'A man in front of a computer'
    }"
  ></app-card-detail>

  <app-card-about
    class="container__card-about"
    name="Renan Peixoto"
    [aboutMe]="{
      span: 'Sobre',
      title: 'Conheça um pouco sobre mim',
      text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum velit eligendi dignissimos nulla quos fuga perferendis corporis sed, soluta corrupti labore asperiores placeat consectetur sint veniam maiores dolore minima totam!'
    }"
  ></app-card-about>
</div>
