<section class="container__card-about">
  <div class="card-about__photo-container">
    <div class="card-about__photo">
      <app-photo-about
        class="photo"
        [nameProfile]="name"
        photoProfile="https://github.com/renan-peixoto.png"
      ></app-photo-about>
    </div>
    <div class="card-about__links">
      <ul>
        <li><a href="#">Linkedn</a></li>
      </ul>
      <ul>
        <li><a href="#">GitHub</a></li>
      </ul>
      <ul>
        <li><a href="#">Email</a></li>
      </ul>
    </div>
  </div>

  <div class="card-about__about">
    <span>{{ aboutMe.span }}</span>
    <h2>{{ aboutMe.title }}</h2>
    <p>{{ aboutMe.text }}</p>
  </div>
</section>
