<div class="container__projects-page">
  <div class="container__projects-title">
    <h1>Projetos</h1>
  </div>
  <div class="container__projects">
    <projects-card
      class="project"
      project="Angular Portifolio"
      description="Primeiro projeto de portifólio com Angular"
      [photo]="{
        src: '../../../assets/home-page-port.png',
        alt: 'Imagem alternativa'
      }"
      link="https://github.com/renan-peixoto/angular-portifolio"
      [tags]="['Angular', 'typescript']"
    ></projects-card>

    <projects-card
      class="project"
      project="Email Sending Microservice"
      description="Primeiro projeto de microsserviço com RabbitMQ e spring boot"
      [photo]="{
        src: 'https://th.bing.com/th/id/R.dbf39e8d26493b59030b5a239d22c1ae?rik=eJ6OvXnyLLGq2A&riu=http%3a%2f%2fwww.newdesignfile.com%2fpostpic%2f2014%2f10%2foutlook-send-email-icon_173879.jpg&ehk=R7%2fQerXzGooWLkZGynuiDSEo8xq%2b3zxKjPvzlfMuA2Y%3d&risl=&pid=ImgRaw&r=0',
        width: '100px',
        alt: 'Imagem alternativa'
      }"
      link="https://github.com/renan-peixoto/Email-Sending-Microservice-with-RabbitMQ"
      [tags]="['JAVA', 'RabbitMQ', 'spring boot', 'PostgreSQL']"
    ></projects-card>
  </div>
</div>
