<section class="container__app-menu-bar">
  <div class="app-menu-bar__logo">
    <h1>
      <span> &lt;&#47; </span>
      {{ nameLogo }}
      <span> &gt; </span>
    </h1>
  </div>
  <div class="app-menu-bar__links-content">
    <div class="app-menu-bar__links">
      <ul>
        <li>
          <a href="#">{{ about }}</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="#">{{ skills }}</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="#">{{ projects }}</a>
        </li>
      </ul>
    </div>
  </div>
</section>
