/* You can add global styles to this file, and also import other style files */
* {
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

.bg-image {
  background-image: url(./assets/grunge-black-concrete-textured-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

a {
  list-style: none;
}
